<html>
<head>
	<title>EyeHealth</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
	h1,h2,h3,h4,h5,h6{
		margin-top: 0;
		font-family: georgia;
	}
		body{
			background: #EEE;
		}
		hr{
			margin: 3px 0px;
		}
	</style>
</head>
<body>
	<div class="container">
		<br><br>
		<div class="row">
			<div class="col-md-4 col-md-push-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>Login</h2>
						<hr>
						<form action="/sendtoken" method="POST" class="form form-vertical">
							<label for="user">Email:</label>
							<br><input name="user" type="text" class="form-control">
							<hr>
							<br><input type="submit" value="Login" class="btn btn-default">
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>